*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    font-family: Arial, sans-serif;
    transition: 0.5s;
}

.container{
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

h1{
    margin-bottom: 20px;
}

button{
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background: crimson;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
